<div class="formulario">
    <form id="cadastrarTurma" method="post" action="#">
        <h3>Cadastrar Turma</h3>
        <hr>
        <br>
        <label name="lblTurma">C&oacute;digo:</label>
        <input type="text" id="txtTurma">
        <br><br>
        <label name="lblTurno">Turno:</label>
        <input type="text" id="txtTurno">
        <br><br>
        <label name="lblCurso">Curso:</label>
        <input type="text" id="txtCurso">
        <br><br>
        <label name="lblDisciplina">Disciplina:</label>
        <input type="text" id="txtDisciplina">
        <br><br>
        <br><br>
        <input type="submit" id="btnVoltar" value="Voltar">
        <input type="submit" id="btnAlterar" value="Alterar">
        <input type="reset" id="btnLimpar" value="Limpar">
        <input type="submit" id="btnBuscar" value="Buscar">
        <input type="submit" id="btnDesativar" value="Desativar">
        <input type="submit" id="btnCadastrar" value="Cadastrar">
    </form>
</div>