		<div class="formulario">	
			<form id="configuracoes" method="post" action="#">
				<h3>Configura&ccedil;&otilde;es</h3> 
				
				<h6><label id="lblPreferencias"> Prefer&ecirc;ncias da Tela Inicial </label> </h6>
				<input id="ckbUltimosRelatorios" type="checkbox" name="ultimosRelatorios" value="" checked="checked">
				<label id="lblUltimosRelatorios">&Uacute;ltimos Relat&oacute;rios</label>
				
				<input id="ckbUltimasNoticias" type="checkbox" name="ultimasNoticiais" value="" checked="checked">
				<label id="lblUltimasNoticias">&Uacute;ltimas Not&iacute;cias</label>
				
				<input id="ckbResumoDaInstituicao" type="checkbox" name="resumoInstituicao" value="" checked="checked">
				<label id="lblResumoDaInstituicao">Resumo da Institui&ccedil;&atilde;o</label> 
					
				<h6>Alterar senha</h6>						
				<label id="lblSenhaAtual" for="txtSenhaAtual" >Senha atual</label>
				<input type="password" name="senhaAtual" id="txtSenhaAtual"  size="20"> 
				<span id="x_senhaAtual" class="erro"></span>
											
				<label id="lblNovaSenha" for="txtNovaSenha" >Nova senha</label>
				<input type="password" id="txtNovaSenha" name="novaSenha"  size="20"> 
				<span id="x_novaSenha" class="erro"></span>		
										
				<label for="txtConfirmarSenha" id="lblConfirmarSenha" >Confirmar Nova Senha:</label>
				<input type="password" id="txtConfirmarSenha" name="ConfirmarSenha"  size="20"> 
				
				
				<input type="submit" id="btnVoltar" value="Voltar">
				<input type="submit" id="btnAlterar" value="Alterar">
				<input type="reset"  id="btnLimpar" value="Limpar">
				<input type="submit" id="btnBuscar" value="Buscar">
				<input type="submit" id="btnDesativar" value="Desativar">
				<input type="submit" id="btnCadastrar" value="Cadastrar">	
			</form>
