<div class="formulario">
	<form id="cadastrarFuncionario" method="post" action="#">
		<h3>Cadastrar Funcionario</h3>

		<h6>Login</h6>

		<label for="lblNomeAluno">Usuario:</label>
		<input type="text" name="lblUsuario" id="txtusuario">
		

		<label for="lblNomeAluno">Senha:</label>
		<input type="text" name="lblsenha" id="txtsenha">
		

		<h6> Dados Pessoais </h6>

		<label for="lblNomeAluno">Nome:</label>
		<input type="text" name="lblNomeAluno" id="txtNomeAluno">
		

		<label for="lblDataNascimento">Data de Nascimento:</label>
		<input type="text" name="lblDataNascimento" id="txtDataNascimento">
		

		<label for="lblSexo">Sexo:</label>
		<input type="radio" name="lblMasculino" value="M" id="txtMasculino" checked="checked"><label for="lblMasculino">Masculino</label>
		<input type="radio" name="lblFeminino" value="F" id="txtFeminino"><label for="lblFeminino">Feminino</label>
		

		<label for="lblNaturalidade">Naturalidade:</label>
		<input type="text" name="lblNaturalidade" id="txtNaturalidade">
		

		<label for="lblNacionalidade">Nacionalidade:</label>
		<input type="text" name="lblNacionalidade" id="txtNacionalidade">
		

		<label for="lblNomePai">Nome do Pai:</label>
		<input type="text" name="lblNomePai" id="txtNomePai">
		

		<label for="lblNomeMae">Nome da M&atilde;e:</label>
		<input type="text" name="lblNomeMae" id="txtNomeMae">
		

		<label for="lblEtnia">Etnia:</label>
		<select id="ddlEtnia" name="lblEtnia">
			<option value="selecione">Escolha uma op&ccedil;&atilde;o</option>
			<option value="branco">Branco</option>
			<option value="preto">Preta</option>
			<option value="amarelo">Amarela</option>
			<option value="pardo">Pardo</option>
			<option value="indigena">Ind&iacute;gena</option>
			<option value="semdeclaracao">Sem Declara&ccedil;&atilde;o</option>
		</select>
		


		<label for="lblEstadoCivil">Estado Civil:</label>
		<select id="ddlEstadoCivil" name="lblEstadoCivil">
			<option value="selecione">Escolha uma op&ccedil;&atilde;o</option>
			<option value="solteiro">Solteiro (a)</option>
			<option value="casadp">Casado (a)</option>
			<option value="divorciado">Divorciado (a)</option>
			<option value="viuvo">Vi&uacute;vo (a)</option>
		</select>
		

		<label for="lblEscolaridade">N&iacute;vel de Escolaridade:</label>
		<select name="lblEscolaridade" id="txtEscolaridade" width="200">
			<option value="semopcao">Escolha uma op&ccedil;&atilde;o</option>
			<option value="superior">Superior</option>
			<option value="superiorinc">Superior Incompleto</option>
			<option value="tecnico">T&eacute;cnico</option>
			<option value="tecnicoinc">T&eacute;cnico Incompleto</option>
			<option value="medio">M&eacute;dio</option>
			<option value="medioinc">M&eacute;dio Incompleto</option>
			<option value="fundamental">Fundamental</option>
			<option value="fundamentalinc">Fundamental Incompleto</option>
		</select>
		

		<label for="lblNecessidadeEspecial">Possui alguma necessidade especial?</label>
		<input type="radio" id="rbNecessidadeSim" name="lblNecessidadeEspecial" value="Sim">
		<label for="lblNecessidadeSim">Sim</label>
		<input type="radio" id="rbNecessidadeNao" name="lblNecessidadeEspecial" value="N&atilde;o" checked="checked">
		<label for="lblNecessidadeNao">N&atilde;o</label>
		

		<h6 class="#">Funcion&aacute;rio</h6>

		<label for="cargo">Cargo:</label>
		<input type="text" name="cargo" id="cargo" class="#">
		

		<label for="lblSituacao">Situa&ccedil;&atilde;o:</label>
		<select id="ddlSituacao" name="lblSituacao">
			<option value="selecione">Escolha uma op&ccedil;&atilde;o</option>
			<option value="ativo">Ativo</option>
			<option value="inativo">Inativo</option>
		</select>
		

		<h6>Documenta&ccedil;ao</h6>

		<label for="lblCPF">CPF:</label>
		<input type="text" name="lblCPF" id="txtCPF" maxlength="11">
		
		<label for="lblRG">RG:</label>
		<input type="text" name="lblRG" id="txtRG">
		

		<label for="lblExpedido">Data de Expedi&ccedil;&atilde;o:</label>
		<input type="text" name="lblExpedido" id="txtExpedido">
		

		<label for="lblOrgao">Org&atilde;o Expedidor:</label>
		<input type="text" name="lblOrgao" id="txtOrgao">

		<p>Certid&atilde;o de Nascimento:</p>

		<label for="lblNumCertidaoNascimento">N&uacute;mero:</label>
		<input type="text" name="lblNumCertidaoNascimento" id="txtNumCertidaoNascimento">
		

		<label for="lblLivroCertidaoNascimento">Livro:</label>
		<input type="text" name="lblLivroCertidaoNascimento" id="txtLivroCertidaoNascimento">
		

		<label for="lblFolhaCertidaoNascimento">Folha:</label>
		<input type="text" name="lblFolhaCertidaoNascimento" id="txtFolhaCertidaoNascimento">
		

		<label for="lblDataCertidaoNascimento">Data de Emiss&atilde;o:</label>
		<input type="text" name="lblDataCertidaoNascimento" id="txtDataCertidaoNascimento">
		

		<label for="lblTituloEleitor">T&iacute;tulo de Eleitor:</label>
		<input type="text" name="lblTituloEleitor" id="txtTituloEleitor">
		

		<label for="lblCertificadoReservista">Certificado de Reservista:</label>
		<input type="text" name="lblCertificadoReservista" id="txtCertificadoReservista">
		

		<h6> Endere&ccedil;o </h6>
		<label for="lblLogradouro">Logradouro:</label>
		<input type="text" name="lblLogradouro" id="txtLogradouro">
		

		<label for="lblNumero">N&uacute;mero:</label>
		<input type="text" name="lblNumero" id="txtNumero">
		

		<label for="lblComplemento">Complemento:</label>
		<input type="text" name="lblComplemento" id="txtComplemento">
		

		<label for="lblBairro">Bairro:</label>
		<input type="text" name="lblBairro" id="txtBairro">
		

		<label for="lblCidade">Cidade:</label>
		<input type="text" name="lblCidade" id="txtCidade">
		

		<label for="lblUF"> UF: </label>
		<select id="ddlUF" name="lblUF">
			<option value="0"></option>
			<option value="1">AC</option>
			<option value="2">AL</option>
			<option value="3">AP</option>
			<option value="4">AM</option>
			<option value="5">BA</option>
			<option value="6">CE</option>
			<option value="7">DF</option>
			<option value="8">ES</option>
			<option value="9">GO</option>
			<option value="10">MA</option>
			<option value="11">MT</option>
			<option value="12">MS</option>
			<option value="13">MG</option>
			<option value="14">PA</option>
			<option value="15">PB</option>
			<option value="16">PR</option>
			<option value="17">PE</option>
			<option value="18">PI</option>
			<option value="19">RJ</option>
			<option value="20">RN</option>
			<option value="21">RS</option>
			<option value="22">RO</option>
			<option value="23">RR</option>
			<option value="24">SC</option>
			<option value="25">SP</option>
			<option value="26">SE</option>
			<option value="27">TO</option>
		</select>
		
		

		<label for="lblCEP">CEP:</label>
		<input type="text" name="lblCEP" id="txtCEP">
		

		<label for="lblMunicipio">Munic&iacute;pio:</label>
		<input type="text" name="lblMunicipio" id="txtMunicipio">
		
		<label for="lblZona">Zona:</label>
		<input type="text" name="lblZona" id="txtZona">

		

		<h6>Contato </h6>

		<label for="lblTelefone">Telefone:</label>
		<input type="text" name="lblTelefone" id="txtTelefone">

		

		<label for="lblCelular">Celular:</label>
		<input type="text" name="lblCelular" id="txtCelular">

		

		<label for="lblEmail">E-mail:</label>
		<input type="text" name="lblEmail" id="txtEmail">

		

		<label for="lblOutros">Outros:</label>
		<input type="text" name="lblOutros" id="txtOutros">
		

		<h6> Programa Social </h6>
		<label for="lblProgramaSocial">Participa de um programa social?</label>
		<input type="radio" name="lblProgramaSocial" value="S" id="rbSimProgramaSocial" ><label for="lblSimProgramaSocial">Sim</label>
		<input type="radio" name="lblProgramaSocial" value="N" id="rbNaoProgramaSocial" checked="checked"><label for="lblNaoProgramaSocial">N&atilde;o</label>
		
		<!--"caso o usuario aperte em "sim" devera abrir os seguintes campos: (java script/ jquery" -->
		<label for="nomeProgramaSocial">Nome:</label>
		<select id="programaSocial" name="programaSocial">
			<option value="semopcao">Escolha uma op&ccedil;&atilde;o</option>
			<option value="1">Bolsa-fam&iacute;lia </option>
			<option value="2">Brasil alfabetizado</option>
			<option value="3">Bolsa-atleta</option>
			<option value="4">Bolsa-escola</option>
			<option value="5">Prouni</option>
			<option value="6">Idioma sem fronteiras</option>
			<option value="7">Ci&ecirc;ncia sem fronteira</option>
			<option value="8">PRONATEC</option>
		</select>
		<!--<span id="msg"> Mensagem </span> -->
		
		<input type="submit" id="btnVoltar" value="Voltar">
		<input type="submit" id="btnAlterar" value="Alterar">
		<input type="reset" id="btnLimpar" value="Limpar">
		<input type="submit" id="btnBuscar" value="Buscar">
		<input type="submit" id="btnDesativar" value="Desativar">
		<input type="submit" id="btnCadastrar" value="Cadastrar">

	</form>